<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>

    <body>
        <h1>NASA's Picture Of the Day</h1>
        <%- include('partials/nav.ejs') %>

            <img src="<%=pic%>">
            <p class="text-center">
                <%=explanation%>
            </p>

            <%- include('partials/footer.ejs') %>
    </body>

</html>